---

---

<section
  class="w-full flex items-center justify-center py-12 md:py-24 lg:py-32 bg-muted"
>
  <div class="container px-4 md:px-6">
    <div
      class="flex flex-col items-center justify-center space-y-4 text-center"
    >
      <div class="space-y-2">
        <h2
          class="text-3xl font-bold tracking-tighter sm:text-5xl text-foreground font-heading"
        >
          Explore Our Dance Classes
        </h2>
        <p
          class="max-w-[900px] text-muted-foreground md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed font-body"
        >
          From salsa to rumba, we offer a wide range of dance classes to suit
          all skill levels and interests. Discover the rhythms and movements
          that ignite your passion.
        </p>
      </div>
    </div>
    <div class="mx-auto grid max-w-5xl gap-6 py-12 lg:grid-cols-2 lg:gap-12">
      <img
        src="https://scontent-mia3-1.cdninstagram.com/v/t51.29350-15/447950628_842856941044574_7047674291971373675_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=18de74&_nc_ohc=Xaisb012hEAQ7kNvgEXO48e&_nc_ht=scontent-mia3-1.cdninstagram.com&oh=00_AYB-4KB42QfSBYv1RWeQSAYqfFKLoWp9dxu8_Pr30DX79Q&oe=66A9B0E3"
        width="550"
        height="310"
        alt="Salsa"
        class="mx-auto aspect-video overflow-hidden rounded-xl object-cover object-center sm:w-full"
      />
      <img
        src="https://scontent-mia3-2.xx.fbcdn.net/v/t39.30808-6/379918470_867873034722840_640235235727545649_n.jpg?stp=dst-jpg_p180x540&_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_ohc=ZnkvSpr7-fQQ7kNvgE60USY&_nc_ht=scontent-mia3-2.xx&oh=00_AYCqEMorpauadBRVka41T9ronj7YYbJB33hyEIJs-Rv4Yw&oe=66A9AABA"
        width="550"
        height="310"
        alt="Rumba"
        class="mx-auto aspect-video overflow-hidden rounded-xl object-cover object-center sm:w-full"
      />
      <img
        src="https://scontent-mia3-2.cdninstagram.com/v/t51.29350-15/448212337_1179925449860841_3972744025892933399_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=18de74&_nc_ohc=czrp0fT7Z2cQ7kNvgG78Vzm&_nc_ht=scontent-mia3-2.cdninstagram.com&oh=00_AYB88vHfrhnR3yyQ8_PPXJo6TKKa_TFiJlcrBm9R-cAEJA&oe=66A9B825"
        width="550"
        height="310"
        alt="Cha Cha"
        class="mx-auto aspect-video overflow-hidden rounded-xl object-cover object-center sm:w-full"
      />
      <img
        src="https://scontent-dfw5-1.xx.fbcdn.net/v/t39.30808-6/271599768_713378759581199_5338708735705484654_n.jpg?stp=dst-jpg_p180x540&_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_ohc=wwNsm-m4N6cQ7kNvgH9s_jH&_nc_ht=scontent-dfw5-1.xx&gid=Al_QZ-dl44EnoBHCByKWHRL&oh=00_AYD1GKME_r1AWU2HJuKFSQhmNZ5hD7sPzZxJToDCMieEqA&oe=66A9C727"
        width="550"
        height="310"
        alt="dance"
        class="mx-auto aspect-video overflow-hidden rounded-xl object-cover object-center sm:w-full"
      />
    </div>
  </div>
</section>
