<section
  class="w-full py-12 md:py-24 lg:py-32 bg-background flex justify-center items-center"
>
  <div class="container px-4 md:px-6">
    <div
      class="flex flex-col items-center justify-center space-y-4 text-center"
    >
      <div class="space-y-2">
        <h2
          class="text-3xl font-bold tracking-tighter sm:text-5xl text-foreground"
        >
          Únete a la familia de Danza Cuba
        </h2>
        <p
          class="max-w-[900px] text-muted-foreground md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
        >
          Dé el primer paso hacia su viaje por la danza. Contáctanos y únete a
          nuestras clases y experimenta la vibrante y acogedora comunidad de
          Danza Cuba.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
        <a
          class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium rounded-md bg-primary text-primary-foreground hover:bg-primary/90 transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
          href="https://wa.me/19546084444"
          target="_blank"
          rel="noopener noreferrer"
        >
          WhatsApp
        </a>
        <a
          class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium rounded-md bg-primary text-primary-foreground hover:bg-primary/90 transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
          href="https://www.facebook.com/danzacubatours?mibextid=LQQJ4d"
          target="_blank"
          rel="noopener noreferrer"
        >
          Facebook
        </a>
        <a
          class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium rounded-md bg-primary text-primary-foreground hover:bg-primary/90 transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
          href="mailto:youremail@example.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          Email
        </a>
        <a
          class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium rounded-md bg-primary text-primary-foreground hover:bg-primary/90 transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
          href="https://www.instagram.com/danzacuba?igsh=ODl1eTE1eXc3eXp6&utm_source=qr"
          target="_blank"
          rel="noopener noreferrer"
        >
          Instagram
        </a>
      </div>
    </div>
  </div>
</section>
