---

---

<section
  class="bg-background text-foreground w-full py-10 md:py-16 lg:py-20 h-screen flex justify-center items-center"
>
  <div class="container px-4 md:px-6">
    <div
      class="grid gap-6 lg:grid-cols-[1fr_500px] lg:gap-12 xl:grid-cols-[1fr_700px]"
    >
      <div class="flex flex-col justify-center space-y-4">
        <div class="space-y-2">
          <h1
            class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none font-heading"
          >
            Descubre el Arte de la Danza en Danza Cuba
          </h1>
          <p class="max-w-[600px] text-muted-foreground md:text-xl font-body">
            Experimenta el vibrante y apasionado mundo de la danza cubana en
            nuestra reconocida escuela de danza. Explora una variedad de clases
            y desbloquea tu bailarín interior.
          </p>
        </div>
        <div class="flex flex-col gap-2 min-[400px]:flex-row">
          <a
            class="inline-flex h-10 items-center justify-center rounded-md bg-primary px-8 text-sm font-medium text-primary-foreground shadow transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50"
            href="#contact"
          >
            Únete a una Clase
          </a>
        </div>
      </div>
      <img
        src="https://scontent-mia3-1.xx.fbcdn.net/v/t1.6435-9/67418601_215989412653472_123255317898199040_n.jpg?stp=dst-jpg_p843x403&_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_ohc=aoKha4gSe5EQ7kNvgGXp4W6&_nc_ht=scontent-mia3-1.xx&oh=00_AYC7ISCSqKZwCNo--RLc7HKzaiBhP6FyxGn1dLSESHvxAQ&oe=66CB38A8"
        height="350"
        alt="Danza Cuba"
        class="w-full h-auto object-cover rounded-lg"
      />
    </div>
  </div>
</section>
