---
import Header from "../../components/header.es.astro";
import Welcome from "../../components/welcome.es.astro";
import Classes from "../../components/classes.es.astro";
import Contact from "../../components/contact.es.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Danza Cuba</title>
  </head>
  <body>
    <Header />
    <Welcome />
    <Classes />
    <Contact />
  </body>
  <footer
    class="flex flex-col gap-2 sm:flex-row bg-muted text-muted-foreground py-6 w-full shrink-0 items-center px-4 md:px-6 border-t"
  >
    <p class="text-xs text-muted-foreground">
      © 2024 Danza Cuba. Todos los derechos reservados.
    </p>
    <nav class="sm:ml-auto flex gap-4 sm:gap-6">
      <a class="text-xs hover:underline underline-offset-4" href="#">
        Política de Privacidad
      </a>
      <a class="text-xs hover:underline underline-offset-4" href="#">
        Contáctenos
      </a>
    </nav>
  </footer>
</html>
